<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="udesc.diskgaseagua">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.DiskGasEAgua"
        tools:targetApi="31">
        <activity
            android:name=".view.client.ViewCadastrarCliente"
            android:exported="false" />
        <activity
            android:name=".view.adm.ViewRelatoriosAdm"
            android:exported="false" />
        <activity
            android:name=".view.adm.ViewCaixaAdm"
            android:exported="false" />
        <activity
            android:name=".view.adm.ViewClientesAdm"
            android:exported="false" />
        <activity
            android:name=".view.adm.ViewFornecedoresAdm"
            android:exported="false" />
        <activity
            android:name=".view.adm.ViewEstoqueAdm"
            android:exported="false" />
        <activity
            android:name=".view.adm.ViewPedidosAdm"
            android:exported="false" />
        <activity
            android:name=".view.adm.ViewHomeAdm"
            android:exported="false" />
        <activity
            android:name=".view.Login"
            android:exported="false" />
        <activity
            android:name=".view.client.ViewHomeCliente"
            android:exported="false" />
        <activity
            android:name=".view.client.ViewPedidosCliente"
            android:exported="false" />
        <activity android:name=".view.client.ViewContasPagarCliente"
            android:exported="false" />
        <activity android:name=".view.client.ViewPagamento"
            android:exported="false" />
        <activity android:name=".view.client.ViewHistoricoComprasCliente"
            android:exported="false" />
        <activity android:name=".view.client.ViewCarrinho"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>